@import "tailwindcss";

:root{
  --background-color:rgb(11, 0, 36);
  --button-color:rgb(67, 115, 247);
  --input-color:rgb(43, 86, 227);
  --input-bg-color:rgb(61, 103, 242);
}

@media (prefers-color-scheme: dark){
  :root{
    --background-color:rgb(11, 0, 36);
  }
}

@layer components{
  .Input{
    @apply border-1 border-[var(--input-color)] text-white rounded-md px-3 py-1 hover:text-black hover:bg-[var(--input-bg-color)] focus:text-black focus:outline-none focus:bg-[var(--input-bg-color)] focus:text-black;
  }

}

body {
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}
