@import "tailwindcss";

:root{
  --background-color:rgb(0, 0, 24);
}

@media (prefers-color-scheme: dark){
  :root{
    --background-color:rgb(0, 0, 24);
  }
}

@layer components{
  .Input{
    @apply border-1 border-blue-300 bg-blue-900 rounded-md px-3 py-1 hover:text-black hover:bg-blue-200 focus:text-black focus:outline-none focus:bg-blue-300 focus:text-black;
  }

}

body {
  background: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}
